.btn {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: 0.3s;
  font-weight: bold;

  &:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #333;
  }
}
