.selectCategory {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;

  &-item {
    color: #87746a;
    cursor: pointer;
  }

  &-item-active {
    color: #4fe24a;
  }

  &-mobile {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .selectCategory {
    display: none;
  }

  .selectCategory-mobile {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    & select {
      width: 50%;
      height: 50px;
      user-select: none;
      outline: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .selectCategory-mobile {
    & select {
      width: 90%;
    }
  }
}
