.card {
  color: #fff;
  border-radius: 2%;
  cursor: pointer;

  &-selected {
    border: 2px solid green;
  }

  &-surface {
    margin: -100px 0 40px 50px;
  }

  & img {
    width: 300px;
    height: 335px;
    border-radius: 2%;
  }
}
