.cardsList {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;

  &-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 30px;
  }

  &-btn {
    margin-bottom: 60px;
  }
}
